<?xml version="1.0" encoding="utf-8"?>

<packages>
   <package id="adobereader" version="2018.011.20058" />
   <package id="ag" version="2.1.0.1" />
   <package id="paint.net" version="4.0.21" />
   <package id="python" version="3.7.0" />
   <package id="vlc" version="3.0.3" />
</packages>

<!--
TO GENERATE
from: https://gist.github.com/alimbada/449ddf65b4ef9752eff3#file-export-chocolatey-ps1

  Write-Output "<?xml version=`"1.0`" encoding=`"utf-8`"?>"
  Write-Output "<packages>"
  choco list -lo -r -y | % { "   <package id=`"$($_.SubString(0, $_.IndexOf("|")))`" version=`"$($_.SubString($_.IndexOf("|") + 1))`" />" }
  Write-Output "</packages>"
-->
